html {
    background: #19202e;
}

* {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

* {
    font-family: Inter, sans-serif;

    &::selection {
        color: #333;
        background: #999;
    }
}